# Mac system files
.DS_Store

# md files
cover_letter_draft.md

# PDF files (Reference materials and R plot artifacts)
*.pdf
Rplots.pdf

# Old/Backup folders
done/
erratum/

# R specific ignores
.Rhistory
.RData
.Ruserdata
